[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main

[submodule "pyramidheadshark-site"]
	path = pyramidheadshark-site
	url = https://github.com/pyramidheadshark/pyramidheadshark-site.git
	branch = main